{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Forgot Password</h1>
            <form method="post" action="{% url 'forgot_password' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ emailInput }}">Email</label>
                    <input type="email" class="form-control" id="{{ emailInput }}" name="{{ emailInput }}" required>
                </div>
                <button type="submit" class="btn btn-primary">Send Reset Link</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}